.react-play-list {
    padding: 30px 0px 30px;
    margin: 0px auto;
    width: 25%;
    margin-bottom: 20px;
    .title-list-music {
        font-size: 30px;
        color: #094c72;

        span {
            font-size: 15px;
            font-weight: normal;

            &:hover {
                font-style: italic;
                cursor: pointer;
            }
        }
    }
    .play-list {

        max-height: 500px;
        overflow-y: overlay;

        .music-play-list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;

            .music-info {
                display: flex;
                align-items: center;

                img {
                    width: 60px;
                    margin-right: 10px;
                    border-radius: 100%;
                }

                .music-name {
                    font-weight: 500;

                    &:hover {
                        color: rgb(32, 182, 219) !important;
                        cursor: pointer;
                    }
                }
                .music-singer {
                    font-size: 14px;
                    padding: 5px 0px;
                    color: #a5abb1;
                }
            }

            .action {
                font-size: 14px;
                color: rgb(46, 157, 177);
                width: 50px;
                display: flex;
                justify-content: space-between;
                padding: 5px;
                margin-left: 10px;

                i:hover {
                    transform: scale(1.3);
                    cursor: pointer;
                }
            }
        }


        .music-active {
            background-color: #094c72;
            .music-name, .music-singer, .action {
                color: white !important;
            }
        }

    }
}