.info-admin-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;

    h1 {
        font-size: 50px;
        margin-bottom: 40px;
    }

    >div {
        display: flex;
        justify-content: center;
    }

    img {
        width: 200px;
        margin-right: 40px;
    }

    .info-admin {
        div {
            span {
                font-size: 20px;
                color: #094c72;
                padding: 5px;
            }

            span:first-child {
                width: 100px;
                display: inline-block;
                font-weight: 500;
            }
        }
    }
}